# Ignorar credenciales y claves de acceso
credentials/serviceAccountKey.json
credentials/client_secret.json

# Ignorar archivos temporales y de caché
__pycache__/
*.py[cod]
*~ 
.DS_Store

# Ignorar archivos de configuración de entorno
.env

# Ignorar archivos de salida de Jupyter Notebooks y outputs de análisis
*.ipynb_checkpoints
*.csv
*.log

# Ignorar archivos y carpetas generados por el sistema operativo
.idea/
.vscode/
Thumbs.db
.Trash-*

# Ignorar el archivo de base de datos de SQLite si existe
*.sqlite3

# Ignorar archivos temporales de Anaconda
.ipynb_checkpoints/
.anaconda/

# Ignorar archivos y carpetas de ejecución de Jupyter
.ipynb_checkpoints/
